<!DOCTYPE html>
<html lang="en-US"> 

	<head>
		<title>Charles Carey</title>
		<h1>Charles Carey - Web API 2018</h1>
		
		<nav>
			<ul>
				<li><strong>Home</strong></li>
				<li><a href="add.html">Add To List</a></li>
				<li><a href="login.html">Login</a></li>
			</ul>
		</nav>
	</head>
	
	<body>
		<br>
		<br>
		<h2>My List of Games</h2>
		<ol>
			<li>Terraria</li>
			<li>Don't Starve</li>
			<li>Faith</li>
			<li>StarBound</li>
			<li>Hyper Light Drifter</li>
			<li>League of Legends</li>
			<li>Rocket League</li>
			<li>ATV 2</li>
			<li>ClusterTruck</li>
			<li>Mario Party</li>
			
		</ol>


		<br>
		<br>
		<br>

		<p>These 10 games are pretty much the games I've spent the most time on... <br> Well minus rocket league and ClusterTrucks.
			But I couldn't really think of anything else. <br>Terraria is easily the best game ever created though. 
		</p>
	</body>
	
</html>